/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
// VARIABLES
$header-hight: 3rem;

// FONT WEIGHT
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// COLOR
$dark-color: #141414;
$dark-color-light: #8a8a8a;
$dark-color-lighten: #f2f2f2;
$gray-color: #e5e5e5;
$white-color: #fff;

// FONT AND TYPOGRAPHY
$body-font: 'Poppins', sans-serif;
$big-font-size: 1.25rem;
$bigger-font-size: 1.5rem;
$biggest-font-size: 2rem;
$h2-font-size: 1.25rem;
$normal-font-size: .938rem;
$smaller-font-size: .813rem;

// MARGENES
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

// Z-INDEX
$z-fixed: 100;
// ROTATE
$rotate-img: rotate(-30deg);

@media only screen and (min-width: 768px) {
    $big-font-size: 1.5rem;
    $bigger-font-size: 2rem;
    $biggest-font-size: 3rem;
    $normal-font-size: 1rem;
    $smaller-font-size: .875rem;
}
//BASE
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $body-font;
    font-size: $normal-font-size;
    font-weight: $font-medium;
    color: $dark-color;
    line-height: 1.6;
    margin: $header-hight 0 0 0;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $dark-color;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

// =================< CLASS CSS >=================
.section {
    padding: 5rem 0 2rem;
    &__title {
        position: relative;
        font-size: $big-font-size;
        margin-bottom: $mb-4;
        text-align: center;
        letter-spacing: .1rem;
        &::after {
            content: '';
            position: absolute;
            width: 56px;
            height: 0.18rem;
            top: -1rem;
            left: 0;
            right: 0;
            margin: auto;
            background-color: $dark-color;
        }
    }
}

// =================< Layout >=================
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: $mb-2;
    margin-right: $mb-2;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $dark-color-lighten;
}

// =================< Nav >=================
.nav {
    height: $header-hight;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav {
        &__menu {
            position: fixed;
            top: $header-hight;
            left: -100%;
            width: 70%;
            height: 100vh;
            padding: 2rem;
            background-color: $white-color;
            transition: all .5s ease;
        }
        &__box-feature {
            display: flex;
            align-items: center;
        }
        &__search-box {
            position: relative;
            &--input-search {
                background: transparent;
                visibility: hidden;
                color: transparent;
                border-radius: 100px;
                padding: 8px 56px 8px 0;
                height: 40px;
                width: 40px;
                cursor: pointer;
            }
            .btn-search {
                position: static;
                padding: 9px 9px;
                border: none;
                outline: none;
                background: transparent;
                .bx {
                    font-size: $big-font-size;
                    font-weight: $font-bold;
                }
            }
        }
        &__close-search-box {
            position: absolute;
            right: 10px;
            top: 11px;
            padding: 9px 10px;
            border: none;
            outline: none;
            background: $dark-color-lighten;
            border-radius: 100px;
            cursor: pointer;
            .bx {
                font-size: $big-font-size;
                font-weight: $font-bold;
            }
        }
    }
    .main-header {
        &__content {
            column-gap: 2rem;
        }
        &__navbar {
            display: none !important;
        }
    }
    .is-none {
        display: none !important;
    }
    .is-none-btn {
        display: none !important;
    }
    .is-show-btn-search {
        display: none !important;
    }
    .btn-overlay-search {
        position: absolute !important;
        top: 11px;
        left: 24px;
        background-color: $white-color !important;
    }
    .active-search-box {
        z-index: 5;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;
        width: 100%;
        background: #fff;
        overflow-y: scroll;
    }
    .active-search-input {
        visibility: visible;
        background: #f5f5f5;
        width: 80%;
        cursor: text;
        color: inherit;
        padding: 8px 50px 8px 44px;
        margin: 10px 50px 0 0;
        border: none;
        outline: none;
        background-color: $dark-color-lighten;
    }
}

.nav {
    &__item {
        margin-bottom: $mb-4;
    }
    &__logo {
        .bx {
            font-size: $bigger-font-size;
        }
    }
    &__toggle, &__bag {
        font-size: 1.3rem;
        cursor: pointer;
    }
    &__bag {
        margin-left: 10px;
    }
}

// show menu
.show {
    left: 0;
}

// Active link
.active {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 45%;
        width: 4px;
        height: 4px;
        background-color: $dark-color;
        border-radius: 50%;
    }
}

// Change color when scroll
.scroll-header {
    background-color: $white-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

// HOME
.home {
    background-color: $dark-color-lighten;
    overflow: hidden;
    &__container {
        height: calc(100vh - 3rem);
    }
    &__sneaker {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__shape {
        width: 220px;
        height: 220px;
        background-color: $dark-color;
        border-radius: 50%;
    }
    &__image {
        position: absolute;
        top: 1.5rem;
        max-width: initial;
        width: 275px;
        transform: $rotate-img;
    }
    &__new {
        display: block;
        font-size: $smaller-font-size;
        font-weight: $font-semi-bold;
        margin-bottom: $mb-2;
    }
    &__title {
        font-size: $bigger-font-size;
        margin-bottom: $mb-1;
    }
    &__description {
        margin-bottom: $mb-6;
    }
}

// BUTTON
.btn-explore {
    display: inline-block;
    background-color: $dark-color;
    color: $white-color;
    padding: 1.125rem 2rem;
    font-weight: $font-medium;
    border-radius: .5rem;
    transition: all .3s ease;
    &:hover {
        transform: translateY(-.25rem);
    }
}

.btn-add {
    display: inline-flex;
    color: $dark-color;
    font-weight: $font-bold;
    align-items: center;
    background-color: $white-color;
    border-radius: .5rem;
    padding: .5rem 1rem;
    transition: all .3s ease;
    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    }
    &:hover .btn-icon {
        transform: translateX(.25rem);
    }
}

.btn-icon {
    font-size: 1.25rem;
    margin-left: $mb-1;
    transition: all .3s ease;
}

.btn-search {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

// FEATURED
.feature {
    &__container {
        row-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

.sneaker {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: $dark-color-lighten;
    border-radius: .5rem;
    transition: all .3s ease;
    &:hover{
        transform: translateY(-.5rem);
    }
    &__sale {
        position: absolute;
        left: .5rem;
        background-color: $dark-color;
        color: $white-color;
        padding: .25rem .5rem;
        border-radius: .25rem;
        font-size: $h2-font-size;
        transform: rotate(-90deg);
        letter-spacing: .1rem;
    }
    &__image {
        width: 220px;
        margin-top: $mb-3;
        margin-bottom: $mb-6;
        transform: $rotate-img;
        filter: drop-shadow(0 12px 8px rgba(0, 0, 0, .2));
    }
    &__name, &__price {
        font-size: $h2-font-size;
        letter-spacing: .1rem;
        font-weight: $font-bold;
    }
    &__name {
        margin-bottom: $mb-1;
    }
    &__price {
        margin-bottom: $mb-4;
    }
    &__pages {
        margin-top: $mb-6;
    }
    &__pag {
        padding: .5rem 1rem;
        border: 1px solid $dark-color;
        &:hover {
            background-color: $dark-color;
            color: $white-color;
        }
    }
}

// COLLECTION
.collection {
    &__container {
        row-gap: 2rem;
        justify-content: center;
    }
    &__card {
        position: relative;
        display: flex;
        height: 328px;
        background-color: $dark-color-lighten;
        padding: 2rem;
        border-radius: .5rem;
        transition: all .3s ease;
        &:hover {
            transform: translateY(-.5rem);
        }
    }
    &__content {
        align-self: flex-end;
    }
    &__image {
        position: absolute;
        top: 0;
        right: 0;
        width: 230px;
    }
    &__name {
        font-size: $bigger-font-size;
        margin-bottom: .25rem;
    }
    &__description {
        margin-bottom: $mb-2;
    }
}

// WOMEN & MEN SNEAKER
.women, .men {
    &__container {
        row-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

// SALE
.sale {
    &__container {
        grid-template-columns: 55% 45%;
        column-gap: 0;
        background-color: $dark-color-lighten;
        border-radius: .5rem;
        justify-content: center;
    }
    &__content {
        padding: 4rem 0 4rem 1.5rem;
    }
    &__title {
        font-size: $biggest-font-size;
        margin-bottom: .25rem;
    }
    &__description {
        margin-bottom: $mb-3;
    }
    &__image {
        width: 153px;
    }
}
// NEW COLLECTION
.new {
    &__container {
        row-gap: 2rem;
    }
    &__mens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $dark-color-lighten;
        border-radius: .5rem;
        padding: 2rem;
        &--image {
            width: 276px;
            margin-bottom: $mb-3;
        }
    }
    &__title {
        font-size: $bigger-font-size;
        margin-bottom: .25rem;
    }
    &__price {
        display: block;
        margin-bottom: $mb-3;
    }
    &__sneaker {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        &--card {
            position: relative;
            padding: 3.5rem 1.5rem;
            background-color: $dark-color-lighten;
            border-radius: .5rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            &:hover .new__sneaker--overlay {
                bottom: 0;
            }
        }
        &--image {
            width: 220px;
        }
        &--overlay {
            position: absolute;
            left: 0;
            bottom: -100%;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(138, 138, 138, .3);
            transition: all .3s ease;
        }
    }
}

// NEWSLETTER
.newsletter {
    &__container {
        background-color: $dark-color;
        color: $white-color;
        padding: 2rem 3rem;
        border-radius: .5rem;
        text-align: center;
    }
    &__title {
        font-size: $bigger-font-size;
        margin-bottom: $mb-2;
    }
    &__description {
        margin-bottom: $mb-5;
    }
    &__form-subcribe {
        display: flex;
        column-gap: .5rem;
        background-color: $white-color;
        padding: .5rem;
        border-radius: .5rem;
    }
    &__input {
        outline: none;
        border: none;
        width: 90%;
        font-size: $normal-font-size;
    }
    &::placeholder {
        color: $dark-color;
        font-family: $body-font;
        font-size: $normal-font-size;
        font-weight: $font-semi-bold;
    }
}

// FOOTER
.footer {
    &__container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
    &__box {
        margin-bottom: $mb-4;
    }
    &__title {
        font-size: $big-font-size;
    }
    &__link {
        display: block;
        width: max-content;
        margin-bottom: $mb-1;
    }
    &__social {
        font-size: 1.5rem;
        margin-right: 1.25rem;
    }
    &__copy {
        padding-top: 3rem;
        font-size: $smaller-font-size;
        color: $dark-color-light;
        text-align: center;
    }
}

.main-header {
    width: 100%;
    position: fixed;
    top: 72px;
    left: 0;
    z-index: $z-fixed;
    background-color: $white-color;
    &__container {
        padding: 1.5rem 0;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10rem;
    }
    &__title {
        font-size: $bigger-font-size;
    }
    &__navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__short {
        position: relative;
        &--wapper {
            position: absolute;
            top: 100%;
            text-align: right;
            transition: transform 300ms ease 0s;
            transform: translateY(-50%);
            visibility: hidden;
            background: rgb(255, 255, 255);
            padding: 0 28px 18px 20px;
            z-index: $z-fixed;
            li {
                a {
                    font-size: $normal-font-size;
                    font-weight: $font-medium;
                }
                &:hover {
                    a {
                        color: $dark-color-light;
                    }
                }
            }
        }
    }
    &__filter-btn, &__short {
        padding: 0 25px 0 0;
        background: transparent;
        outline: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .menu-expand {
        background: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        display: none;
        .bx {
            right: 0;
        }
    }
    &__filter-btn, &__short {
        &--text {
            padding-right: 10px;
            font-size: $normal-font-size;
            font-weight: $font-medium;
        }
        .bx{
            font-size: $big-font-size;
            font-weight: $font-medium;
            transition: transform 300ms ease 0s;
        }
    }
}

.is-show-menu-short {
    visibility: visible;
    transform: translateY(0%);
}

// RESPONSIVE
@media only screen and (max-width: 768px) {
    .main-header {
        top: 48px;
        &__content {
            column-gap: 1rem;
        }
        &__navbar {
            display: none !important;
        }
        &__title {
            font-size: 1rem;
        }
        .menu-expand {
            display: block;
            .bx {
                font-size: 1.2rem;
                font-weight: $font-semi-bold;
            }
        }
    }
}

@media only screen and (min-width: 360px) {
    .home {
        &__image {
            top: 2.5rem;
        }
    }
}
@media only screen and (min-width: 375px) {
    .home {
        &__image {
            top: 5.275rem;
        }
    }
}

@media only screen and (min-width: 411px) {
    .home {
        &__image {
            top: 5.5rem;
        }
    }
}
@media only screen and (min-width: 414px) {
    .home {
        &__image {
            top: 4.5rem;
        }
    }
}

@media only screen and (min-width: 576px) {
    .collection {
        &__container {
            grid-template-columns: 415px;
        }
        &__image {
            width: 260px;
        }
    }
    .sale {
        &__container {
            grid-template-columns: max-content max-content;
        }
        &__content {
            text-align: center;
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
    
    .section {
        padding: 7rem 0;
    }
    .shop {
        padding: 12rem 0;
    }
    .section__title {
        &::after {
            width: 76px;
        }
    }
    .nav {
        height: calc(3rem + 1.5rem);
        &__menu {
            top: 4.5rem;
            // margin-left: auto;
            width: 50%;
        }
        &__list {
            display: flex;
            flex-direction: column;
        }
        &__item {
            margin-left: $mb-6;
            margin-bottom: 2rem;
        }
        &__box-feature {
            display: flex;
            align-items: center;
        }
        &__search-box {
            position: relative;
            &--input-search {
                padding: 10px 0px 10px 40px;
                background-color: $white-color;
                border-radius: 100px;
                border: none;
                outline: none;
                height: 40px;
                // text
                font-size: $normal-font-size;
                font-weight: $font-medium;
                line-height: 1.5;
                cursor: text;
            }
            .btn-search {
                top: calc(1px /3);
                left: 1px;
                padding: 9px 9px;
                border: none;
                outline: none;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                .bx {
                    font-size: $big-font-size;
                    font-weight: $font-bold;
                }
            }
        }
    }
    .is-none-btn {
        display: none !important;
    }
    .home {
        &__container {
            height: 100vh;
            grid-template-columns: max-content max-content;
            justify-content: center;
            align-items: center;
        }
        &__sneaker {
            order: 1;
        }
        &__shape {
            width: 376px;
            height: 376px;
        }
        &__image {
            width: 470px;
            top: 3.5rem;
            right: 0;
            left: -3rem;
        }
    }
    .new {
        .btn-add {
            width: 200px;
        }
    }
    .newsletter {
        &__container {
            grid-template-columns: max-content max-content;
            justify-content: center;
            align-items: center;
            padding: 4.5rem 2rem;
            column-gap: 3rem;
        }
        &__description {
            margin-bottom: 0;
        }
        &__form-subcribe {
            width: 360px;
            height: max-content;
        }
    }
}
@media only screen and (min-width: 768px) {
    .home {
        &__image {
            width: 400px;
            top: 1.5rem;
        }
        &__shape {
            width: 340px;
            height: 340px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .nav {
        &__toggle {
            display: none;
        }
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 0;
        }
        &__item {
            margin-bottom: 0;
        }
    }
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .home {
        &__container {
            column-gap: 8rem;
        }
    }
    .collection {
        &__container {
            grid-template-columns: repeat(2, 415px);
        }
    }
    .new {
        &__container {
            grid-template-columns: max-content 1fr;
        }
        &__mens {
            align-items: initial;
            justify-content: flex-end;
            padding: 4rem 2rem;
            &--image {
                margin-bottom: $mb-6;
            }
        }
    }
}